.list {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 6%;
}

.listitem {
    background-color: rgb(154 155 156 / 91%);
    padding: 10px;
    position: relative;
    box-shadow: inset;
    text-align: center;
    margin: 10px; 
    width: 20%;    
    padding-bottom: 40px;
    cursor: pointer;
}

.listitem img {
    width: 100%; 
    height: auto;
    margin: 2px;
}

.listitem button {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    box-shadow: #282c34;
    background-color: rgb(61, 219, 80);
    border-radius: 5px;
    color: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}

.listitem button:hover {
    background-color: #adc4ca;
  }

