.App {
  font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1px;
}

.head {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #354b75f6;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headright {
  padding: 5px;
}

.title {
  display: flex;
  align-items: center;
}

button {
  box-shadow: #282c34;
  background-color: rgb(199, 208, 200);;
  border-radius: 3px;
  color: rgb(32, 33, 34);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px;
}

.head button {
  box-shadow: #282c34;
  background-color: rgb(61, 219, 80);
  border-radius: 5px;
  color: rgb(18, 18, 18);
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  margin: 3px;
}

button:hover {
  background-color: #adc4ca;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
